<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjnet.airplaydemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.AboutActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.CustomAct"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTheme"/>
        <activity android:name=".activity.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTheme"/>
        <activity
            android:name=".activity.ChoiceActivity"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTheme"
            android:launchMode="singleTop"/>
        <service android:name=".ScreenRenderService" />

    </application>
</manifest>
